<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doublep.vrssapi.mapper.AisFileCollectHistMapper">

    <select id="countNotFailedAisFileCollectHistList">
        SELECT COUNT(*)
        FROM ais_file_collect_hist
        WHERE status != 'failed'
    </select>

    <select id="getNotFailedAisFileCollectHistList" parameterType="CommonRequest" resultType="AisFileCollectHist">
        SELECT
            file_name
             , total_count
             , status
             , start_timestamp
             , end_timestamp
             , duration
        FROM ais_file_collect_hist
        WHERE status != 'failed'
        ORDER BY cret_dt DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insertAisFileCollectHist" parameterType="AisFileCollectHist" useGeneratedKeys="true"
            keyProperty="fileCollectSeq">
        INSERT INTO ais_file_collect_hist (
            file_name
          , total_count
          , status
          , start_timestamp
          , end_timestamp
          , duration
          , cret_dt
        ) VALUES (
            #{fileName}
            , #{totalCount}
            , #{status}
            , #{startTimestamp}
            , #{endTimestamp}
            , #{duration}
            , CURRENT_TIMESTAMP
        )
    </insert>

    <update id="updateAisFileCollectHist" parameterType="AisFileCollectHist">
        UPDATE ais_file_collect_hist
        SET status = #{status}
            , total_count = #{totalCount}
            , end_timestamp = #{endTimestamp}
            , duration = #{duration}
            , updt_dt = CURRENT_TIMESTAMP
        WHERE file_collect_seq = #{fileCollectSeq}
    </update>

</mapper>
