<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doublep.vrssapi.mapper.VoyageRiskMapLastMapper">

    <select id="selectVoyageRiskMapLastList" parameterType="ShipVoyageRiskMapRequest" resultType="ShipVoyageRiskMap">
        WITH base AS (
            SELECT DISTINCT geometry_base.longitude, geometry_base.latitude
            FROM geometry_base, ship_prediction_route
            WHERE geometry_base.longitude BETWEEN #{minLongitude} AND #{maxLongitude}
                AND geometry_base.latitude BETWEEN #{minLatitude} AND #{maxLatitude}
                AND st_intersects(geometry_base.geometry, ship_prediction_route.route_geom) = true
        )

        SELECT vrml.longitude
             , vrml.latitude
             , vrml.voyage_risk_map_id
             , vrml.longitude_length
             , vrml.latitude_length
             , vrml.wind_speed
             , vrml.wind_direction
             , vrml.wave_height
             , vrml.wave_direction
             , vrml.relative_humidity
             , vrml.total_column_water_vapor
             , vrml.skin_temperature
             , vrml.voyage_risk_level
             , vrml.tidal_current_speed
             , vrml.tidal_current_direction
             , vrml.typhoon_longitude
             , vrml.typhoon_latitude
             , vrml.typhoon_grade
	    FROM base
        LEFT OUTER JOIN voyage_risk_map_last AS vrml ON base.longitude = vrml.longitude AND base.latitude = vrml.latitude
    </select>

</mapper>
